*{
    /* outline: 2px dashed green; */
    margin: 0;
    padding:0;
}
/* @media screen and (max-width: 500px) {
.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "q"
        "h"
        "e"
        "b"
        "f";
}
 */
/* step one - build your grid */
.container {
    padding:10%;
    /* height: 50%; */
    display: grid;
    grid-gap: 10px;
    /* this will be  the same for everyone */
    grid-template-columns: repeat(12, 1fr);
    /* this will be customized, based on your grid, use pixels or % */
    grid-template-rows: 15%;
    /* use letters from step 2 to build the grid */
    grid-template-areas: 
        "h h h h h h h q q q q q"
        "b b b b e e e e a a a a"
        "b b b b e e e e a a a a"
        "f f f f f f f f f f f f";
}
li{
    font-weight: 20;
    padding:10px;
}

.date{
    font-weight: .2em;
}
body{
    background-color: mediumpurple;
    font-size: .5em;
    font-family: 'verdana'
     
}

ul{
    list-style: none;
}


h1{
    font-size: 5em;
    font-family: 'futura'
}
 
h2{
    padding-top:20px; padding-right:5px;
}

h3{
    padding-top:20px;
}


/* step three - build a grid that becomes active when the pixels are 800px or less */
@media screen and (max-width: 100px max-height px) {

    .container{
        display: grid;
        grid-gap: 1em;
        /* grid is only one column, keep this way */
        grid-template-columns: 1fr;
        /* you can enter values, or auto will adjust the box sizes based on content */
        grid-template-rows: 1fr;
        grid-template-areas:
        "q"
        "h"
        "b"
        "a"
        "e"
        "f"
    }
}

/* step 1 - assign each of your sections a letter */
blockquote {
    grid-area: q;
    font-weight:20;
    font-stretch: wider;
    font-size: 1.6em;
    padding-bottom: .1px; padding-left:80px;
    font-family: 'futura'
}

header {
    grid-area: h; 
    border:20px solid lightblue 
   ;padding-left:80px; padding-bottom:200px;padding-top:100px 
   
     
    
    
}

.education {
    grid-area: b;
    font-size: 11px;
    padding-bottom:50px; padding-top:200px; padding-right:30px
    
    
    
}


   
   
    
    


.skills {
    grid-area: a;
    padding-right: 200px;padding-top:200px
    
   

}

.footer{
    grid-area: f;

   
    
   
}
